<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huohougongfu.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.huohougongfu.app.FileProvider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/rc_file_path" /> -->
        <!-- </provider> -->

        <activity
            android:name=".Activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data -->
            <!-- android:host="com.huohougongfu.app" -->
            <!-- android:pathPrefix="/conversation/" -->
            <!-- android:scheme="rong" /> -->
            <!-- </intent-filter> -->

        </activity>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />
        //高德
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b77977ecc90aea5fb6cefb4cf2b94de2" />
        //友盟
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5d1efbd54ca357a016000105" />
        //融云
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="x18ywvqfxcr0c" />
        //微信
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        //微博
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        //qq
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <!-- 会话界面 -->
        <activity
            android:name=".RongYun.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.huohougongfu.app"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".Activity.TuWenActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.XieYiActivity" />
        <activity android:name=".Activity.YinSiActivity" />
        <activity android:name=".SelectVideo.PhotoSelectorActivity" />
        <activity android:name="com.zyf.vc.ui.RecorderActivity" />
        <activity android:name="com.zyf.vc.ui.PlayVideoActiviy" />
        <activity
            android:name=".ShouYe.Activity.PleaseTeaActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ShouYe.Activity.MyKaBaoActivity" />
        <activity android:name=".ShouYe.Activity.ChaTaiActivity" />
        <activity android:name=".ShouYe.Activity.MaiChaDetailActivity" />
        <activity android:name=".Activity.DingWeiActivity" />
        <activity android:name=".Shop.Activity.TeHuiActivity" />
        <activity android:name=".Shop.Activity.ShangPinDetailActivity" />
        <activity android:name=".Shop.Activity.ShopSouSuoActivity" />
        <activity android:name=".Activity.FaBuActivity" />
        <activity android:name=".Shop.Activity.TeYuePinPaiActivity" />
        <activity android:name=".Shop.Activity.LeiMuActivity" />
        <activity android:name=".Shop.Activity.DaShiZhuanChang" />
        <activity android:name=".Activity.WangJiMiMa" />
        <activity
            android:name=".Activity.PubActivity"
            android:theme="@style/PubTheme" />
        <activity android:name=".UploadPictures.PlusImageActivity" />
        <activity android:name=".QuanZi.Activity.WenZhangActivity" />
        <activity android:name=".Activity.DaKaActivity" />
        <activity android:name=".QuanZi.Activity.JingXuanActivity" />
        <activity android:name=".Activity.GouWuCheActivity" />
        <activity android:name=".QuanZi.Activity.QuanZiDetailActivity" />
        <activity android:name=".WoDe.Activity.SettingActivity" />
        <activity android:name=".WoDe.Activity.PersonalActivity" />
        <activity android:name=".WoDe.Activity.AddressActivity" />
        <activity android:name=".WoDe.Activity.AddRegionActivity" />
        <activity android:name=".Activity.FaBuArticleActivity" />
        <activity android:name=".Activity.FaBuVedioActivity" />
        <activity
            android:name=".QuanZi.Activity.VedioDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".QuanZi.Activity.WenZhangDetailActivity" />
        <activity
            android:name=".QuanZi.Activity.JuBaoActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".QuanZi.Activity.ZhaoRenActivity" />
        <activity android:name=".WoDe.Activity.MyDongTaiActivity" />
        <activity android:name=".Activity.XiaoXiActivity">

            <!-- android:exported="true"> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data -->
            <!-- android:host="com.huohougongfu.app" -->
            <!-- android:pathPrefix="/conversationlist/" -->
            <!-- android:scheme="rong" /> -->
            <!-- </intent-filter> -->
            <!-- &gt; -->
        </activity>

        <receiver
            android:name=".RongYun.SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".WoDe.Activity.MyDingDanActivity" />
        <activity android:name=".WoDe.Activity.DingDanDetailActivity" />
        <activity
            android:name=".Shop.Activity.XiaDanActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".WoDe.Activity.AnQuanZhongXinActivity" />
        <activity android:name=".WoDe.Activity.XiuGaiMiMaActivity" />
        <activity android:name=".WoDe.Activity.OboutActivity" />
        <activity android:name=".WoDe.Activity.GongNengJieShao" />
        <activity android:name=".WoDe.Activity.FanKuiActivity" />
        <activity android:name=".Shop.Activity.DaShiJianJieActivity" />
        <activity android:name=".WoDe.Activity.WoDeGuanZhuActivity" />
        <activity android:name=".WoDe.Activity.WoDeFenSiActivity" />
        <activity android:name=".WoDe.Activity.MyCollectActivity" />
        <activity android:name=".ShouYe.Activity.JiQiAcyivity" />
        <activity android:name=".ShouYe.Activity.ChaTaiDingDanDetail" />
        <activity android:name=".Shop.Activity.LeiMuDetailActivity" />
        <activity android:name=".Activity.DiaPuZhuYeActivity" />
        <activity android:name=".WoDe.Activity.MyDianPuActivity" />
        <activity android:name=".WoDe.Activity.DingDanGuanLi" />
        <activity android:name=".WoDe.Activity.ShopPingJiaActivity" />
        <activity android:name=".WoDe.Activity.DianPuTongJiActivity" />
        <activity android:name=".WoDe.Activity.DianPuSettingActivity" />
        <activity android:name=".Shop.Activity.TeBieShuoMingActivity" />
        <activity android:name=".WoDe.Activity.FuWuXuanXiangActivity" />
        <activity
            android:name=".WoDe.Activity.RealNameActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".WoDe.Activity.YunFeiSettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".WoDe.Activity.DiQuXuanZeActivity" />
        <activity android:name=".WoDe.Activity.DianPuMainJianActivity" />
        <activity android:name=".WoDe.Activity.AddDianPuHuoDongActivity" />
        <activity android:name=".WoDe.Activity.ChaShiRenZhengActivity" />
        <activity android:name=".WoDe.Activity.LogisticsActivity" />
        <activity android:name=".WoDe.Activity.ShenQingShouHouActivity" />
        <activity android:name=".WoDe.Activity.DingDanPingJiaActivity" />
        <activity android:name=".WoDe.Activity.FailedViewActivity" />
        <activity android:name=".WoDe.Activity.SucceedViewActivity" />
        <activity android:name=".WoDe.Activity.ReviewViewActivity" />
        <activity android:name=".WoDe.Activity.GeRenRenZhengActivity" />
        <activity android:name=".WoDe.Activity.ShangHuRenZhengActivity" />
        <activity android:name=".WoDe.Activity.SpecialBrandActivity"></activity>
    </application>

</manifest>