<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huohougongfu.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".Activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="com.huohougongfu.app.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/provider_paths"/> -->
        <!-- </provider> -->
        //高德
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="53a5a806e4b0ede28c93f942046ec1b2">
            //开发者申请的key
        </meta-data>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5d1efbd54ca357a016000105" />

        //微信
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        //微博
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        //qq
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".Activity.TuWenActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.XieYiActivity" />
        <activity android:name=".Activity.YinSiActivity" />
        <activity android:name=".SelectVideo.PhotoSelectorActivity" />
        <activity android:name="com.zyf.vc.ui.RecorderActivity" />
        <activity android:name="com.zyf.vc.ui.PlayVideoActiviy" />
        <activity
            android:name=".ShouYe.Activity.PleaseTeaActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ShouYe.Activity.MyKaBaoActivity" />
        <activity android:name=".ShouYe.Activity.ChaTaiActivity" />
        <activity android:name=".ShouYe.Activity.MaiChaDetailActivity" />
        <activity android:name=".Activity.DingWeiActivity" />
        <activity android:name=".Shop.Activity.TeHuiActivity" />
        <activity android:name=".Shop.Activity.ShangPinDetailActivity" />
        <activity android:name=".Shop.Activity.ShopSouSuoActivity" />
        <activity android:name=".Activity.FaBuActivity" />
        <activity android:name=".Shop.Activity.TeYuePinPaiActivity" />
        <activity android:name=".Shop.Activity.LeiMuActivity" />
        <activity android:name=".Shop.Activity.DaShiZhuanChang" />
        <activity android:name=".Activity.WangJiMiMa" />
        <activity
            android:name=".Activity.PubActivity"
            android:theme="@style/PubTheme" />
        <activity android:name=".UploadPictures.PlusImageActivity" />
        <activity android:name=".QuanZi.Activity.WenZhangActivity" />
        <activity android:name=".Activity.DaKaActivity" />
        <activity android:name=".QuanZi.Activity.JingXuanActivity" />
        <activity android:name=".Activity.GouWuCheActivity" />
        <activity android:name=".QuanZi.Activity.QuanZiDetailActivity" />
        <activity android:name=".WoDe.Activity.SettingActivity" />
        <activity android:name=".WoDe.Activity.PersonalActivity" />
        <activity android:name=".WoDe.Activity.AddressActivity" />
        <activity android:name=".WoDe.Activity.AddRegionActivity" />
        <activity android:name=".Activity.FaBuArticleActivity" />
        <activity android:name=".Activity.FaBuVedioActivity" />
        <activity
            android:name=".QuanZi.Activity.VedioDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".QuanZi.Activity.WenZhangDetailActivity" />
        <activity
            android:name=".QuanZi.Activity.JuBaoActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"></activity>
        <activity android:name=".QuanZi.Activity.ZhaoRenActivity"></activity>
    </application>

</manifest>