<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huohougongfu.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo_zuizhong"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo_zuizhong"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:icon">
        <provider
            android:name=".Utils.FileProvider"
            android:authorities="com.huohougongfu.app.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="InnerclassSeparator"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".Activity.StartPagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />
        <!-- //高德 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b77977ecc90aea5fb6cefb4cf2b94de2" />
        <!-- //友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5d1efbd54ca357a016000105" />
        <!-- 多渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- //融云 -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="x4vkb1qpxz3ok" />
        <!-- //微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- //微博 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- //qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101767868" />
            </intent-filter>
        </activity>

        <!-- 会话界面 -->
        <activity
            android:name=".RongYun.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.huohougongfu.app"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.XieYiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.YinSiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectVideo.PhotoSelectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zyf.vc.ui.RecorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zyf.vc.ui.PlayVideoActiviy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShouYe.Activity.PleaseTeaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ShouYe.Activity.MyKaBaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShouYe.Activity.ChaTaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShouYe.Activity.MaiChaDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DingWeiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shop.Activity.TeHuiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shop.Activity.ShangPinDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shop.Activity.ShopSouSuoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FaBuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shop.Activity.TeYuePinPaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shop.Activity.LeiMuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shop.Activity.DaShiZhuanChang"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.WangJiMiMa" />
        <activity
            android:name=".Activity.PubActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PubTheme" />
        <activity
            android:name=".UploadPictures.PlusImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuanZi.Activity.WenZhangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DaKaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuanZi.Activity.JingXuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GouWuCheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuanZi.Activity.QuanZiDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.DianPuDingDanDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.PersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.AddRegionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FaBuArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FaBuVedioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuanZi.Activity.VedioDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuanZi.Activity.WenZhangDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuanZi.Activity.JuBaoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".QuanZi.Activity.ZhaoRenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.MyDongTaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.XiaoXiActivity"
            android:screenOrientation="portrait">

            <!-- android:exported="true"> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data -->
            <!-- android:host="com.huohougongfu.app" -->
            <!-- android:pathPrefix="/conversationlist/" -->
            <!-- android:scheme="rong" /> -->
            <!-- </intent-filter> -->
            <!-- &gt; -->
        </activity>

        <receiver
            android:name=".RongYun.SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".WoDe.Activity.MyDingDanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.DingDanDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shop.Activity.XiaDanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.AnQuanZhongXinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.XiuGaiMiMaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.OboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.GongNengJieShao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.FanKuiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shop.Activity.DaShiJianJieActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.WoDeGuanZhuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.WoDeFenSiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.MyCollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShouYe.Activity.JiQiAcyivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShouYe.Activity.ChaTaiDingDanDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shop.Activity.LeiMuDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DiaPuZhuYeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.MyDianPuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.DingDanGuanLi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ShopPingJiaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.DianPuTongJiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.DianPuSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Shop.Activity.TeBieShuoMingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.FuWuXuanXiangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.RealNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".WoDe.Activity.YunFeiSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".WoDe.Activity.DiQuXuanZeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.DianPuMainJianActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.AddDianPuHuoDongActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ChaShiRenZhengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.LogisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ShenQingShouHouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.DingDanPingJiaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.FailedViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.SucceedViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ReviewViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.GeRenRenZhengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ShangHuRenZhengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.SpecialBrandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ShopPingJiaDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ShopGuanLIActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.JinTuiKuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.TuiHuoTuiKuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.TianJiaShangPinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".WoDe.Activity.ShopFenLeiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ShopCanShuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ShopDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ShopGuiGeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".WoDe.Activity.TiaoXuanShopActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ShouYe.Activity.MyDingDanPaoChaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HuDongPingLunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HuDongDianZanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.WuLiuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.VIPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TeaRuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ZhuanKeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ZhuanKeYesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShouYe.Activity.MyDingDanMaiChaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.YaoQingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.TianXieWuLiuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.SetKeyBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.ReturnDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WoDe.Activity.RefundsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".WoDe.Activity.WeiRenZhengActivity" />
        <activity android:name=".WoDe.Activity.DaShiRenZhengActivity"></activity>
    </application>

</manifest>